.l-main-section
  .l-sub-section
    h3 TypeScript

    p: <a href="/docs/ts/latest">Angular TS - 最新版本Latest Version</a>
      
    h3 JavaScript

    p <a href="/docs/js/latest">Angular JS - 最新版本</a>

    h3 Dart

    p: <a href="/docs/dart/latest">Angular Dart - 最新版本</a>