.l-main-section
  h2 Angular Projects
  h2 Angular项目列表
  p We'd love for you to contribute to our source code and to make Angular projects even better.
  p 我们希望你能给我们的源代码做出贡献，让Angular项目变得更好。

  .l-sub-section
    h3 Angular

    p Angular is a next generation mobile and desktop application development platform.
    
    p Angular是下一代移动与桌面应用开发平台。

    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular
    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) 为Angular做贡献

  .l-sub-section
    h3 Angular for JavaScript or Dart
    h3 Angular - JavaScript 或 Dart

    p Angular is a development platform for building mobile and desktop applications.
    p Angular是一个开发平台，用于构建移动和桌面应用。

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for JS
    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button). 
      帮助Angular JS

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for DART
    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button). 
      帮助Angular DART

  .l-sub-section
    h3 Angular Material

    p Our goal is to deliver a lean, lightweight set of Angular-based UI elements that implement the material design specification for use in Angular single-page applications (SPAs).
    p 我们的目标是精益、轻量级、基于Angular的一组UI组件，它们实现了material设计规范，可以用在Angular单页面应用中。

    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material
    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) 帮助Angular Material
    

  .l-sub-section
    h3 AngularFire

    p AngularFire is the officially supported Angular binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app.
    p AngularFire是官方提供的Angular版Firebase绑定。Firebase是一个完整的后端，所以你不需要自己搭建服务器就能构建Angular应用。

    a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribute to AngularFire
    a(href="https://github.com/firebase/angularFire" class="button" md-button) 帮助AngularFire
