div
  div
    h2(class="text-headline") Cross Platform
    h2(class="text-headline") 跨平台
    div(class="feature-row")
      div(class="feature")
        h3 Progressive web apps
        h3 渐进式Web应用
        p(class="text-body") Use modern web platform capabilities to deliver app-like experiences.  High performance, offline and zero-step installation.
        p(class="text-body") 借助现代化Web平台的力量，交付app式体验。高性能、离线化、零安装。

      div(class="feature")
        h3 Native
        h3 原生
        p(class="text-body") Build native mobile apps with strategies from Ionic Framework, NativeScript, and React Native.
        p(class="text-body") 借助来自Ionic、NativeScript和React Native中的技术与思想，构建原生移动应用。

      div(class="feature")
        h3 Desktop
        h3 桌面
        p(class="text-body") Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus the ability to access native OS APIs.
        p(class="text-body") 借助你已经在Web开发中学过的能力，结合访问原生操作系统API的能力，创造能在桌面环境下安装的应用，横跨Mac、Windows和Linux平台。

    h2(class="text-headline") Speed and Performance
    h2(class="text-headline") 速度与性能
    div(class="feature-row")
      div(class="feature")
        h3 Code generation
        h3 代码生成
        p(class="text-body") Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.
        p(class="text-body") Angular会把你的模板转换成代码，针对现代JavaScript虚拟机进行高度优化，轻松获得框架提供的高生产率，同时又能保留所有手写代码的优点。
      div(class="feature")
        h3 Universal
        h3 统一
        p(class="text-body") Serve the first view of your application on node.js, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS.  Also paves the way for sites that optimize for SEO.
        p(class="text-body") 在服务端渲染应用的首屏，像只有HTML和CSS的页面那样几乎瞬间展现，支持node.js、.NET、PHP，以及其它服务器，为通过SEO来优化站点铺平了道路。
      div(class="feature")
        h3 Code splitting
        h3 代码拆分
        p(class="text-body") Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.
        p(class="text-body") Angular应用通过新的组件路由（Component Router）模块实现快速加载，提供了自动拆分代码的功能，为用户单独加载它们请求的视图中需要的那部分代码。

    h2(class="text-headline") Productivity
    h2(class="text-headline") 生产率
    div(class="feature-row")
      div(class="feature")
        h3 Templates
        h3 模板
        p(class="text-body") Quickly create UI views with simple and powerful template syntax.
        p(class="text-body") 通过简单而强大的模板语法，快速创建UI视图。
      div(class="feature")
        h3 Angular CLI
        h3 Angular命令行工具
        p(class="text-body") Command line tools: start building fast, add components and tests, then instantly deploy.
        p(class="text-body") 命令行工具：快速进入构建环节、添加组件和测试，然后立即部署。
      div(class="feature")
        h3 IDEs
        h3 各种IDE
        p(class="text-body") Get intelligent code completion, instant errors, and other feedback in popular editors and IDEs.
        p(class="text-body") 在常用IDE和编辑器中获得智能代码补全、实时错误反馈及其它反馈等特性。

    h2(class="text-headline") Full Development Story
    h2(class="text-headline") 完整开发故事
    div(class="feature-row")
      div(class="feature")
        h3 Testing
        h3 测试
        p(class="text-body") With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and in a stable manner.
        p(class="text-body") 使用Karma进行单元测试，让你在每次存盘时都能立即知道是否弄坏了什么。Protractor则让你的场景测试运行得又快又稳定。
      div(class="feature")
        h3 Animation
        h3 动画
        p(class="text-body") Create high-performance complex choreographies and animation timelines with very little code through Angular's intuitive API.
        p(class="text-body") 通过Angular中直观简便的API创建高性能复杂编排和动画时间线 —— 只要非常少的代码。
      div(class="feature")
        h3 Accessibility
        h3 可访问性
        p(class="text-body") Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.
        p(class="text-body") 通过支持ARIA的组件、开发者指南和内置的一体化测试基础设施，创建具有完备可访问性的应用。

!= partial("/_includes/_cta-bar")
