include _includes/_util-fns

div(class="home-rows")
  // Group 1
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-1")
      div
        img(src="resources/images/home/responsive-framework.svg")
    div(class="text-container")
      div(class="text-block promo-1-desc l-pad-top-2")
        h3(class="text-headline") Develop Across All Platforms
        h3(class="text-headline") 跨平台开发
        p(class="text-body").
          Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
        p(class="text-body").
          学习如何基于Angular构建应用程序，并复用代码和技能来构建适用于所有平台的应用。比如：Web应用、移动Web应用、原生移动应用和原生桌面应用等。          
  // Group 2
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block")
        h3(class="text-headline") Speed & Performance
        h3(class="text-headline") 速度与性能
        p(class="text-body").
          Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
        p(class="text-body").
          通过Web Worker和服务端渲染，达到在如今(以及未来）的Web平台上所能达到的最高速度。
        br
        p(class="text-body").
          Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
        p(class="text-body").
          Angular让你有效掌控可伸缩性。基于RxJS、Immutable.js和其它推送模型，能适应海量数据需求。
    div(class="promo-img-container promo-2")
      div
        img(src="resources/images/home/speed-performance.svg")

  // Group 3
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-3")
      div
        img(src="resources/images/home/joyful-development.png")
    div(class="text-container")
      div(class="text-block promo-3-desc")
        h3(class="text-headline") Incredible Tooling
        h3(class="text-headline") 美妙的工具
        p(class="text-body").
          Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.  Get immediate Angular-specific help and feedback with nearly every IDE and editor.  All this comes together so you can focus on building amazing apps rather than trying to make the code work.
        p(class="text-body").
          使用简单的声明式模板，快速实现各种特性。使用自定义组件和大量现有组件，扩展模板语言。在几乎所有的IDE中获得针对Angular的即时帮助和反馈。所有这一切，都是为了帮助你编写漂亮的应用，而不是绞尽脑汁的让代码“能用”。

  // Group 4
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block l-pad-top-2")
        h3(class="text-headline") Loved by Millions
        h3(class="text-headline") 百万粉丝热捧
        p(class="text-body").
          From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
        p(class="text-body").
          从原型到全球部署，Angular都能带给你支撑Google大型应用的那些高延展性基础设施与技术。
    div(class="promo-img-container promo-4")
      div
        img(src="resources/images/home/loved-by-millions.png")

  .cta-bar
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) 快速起步

