div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR LOGO
        p The logo graphics available for download on this page are provided under <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.
        p 本页中列出的Logo图像都可以下载并使用，其授权方式为<a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>。这意味着你可以做几乎所有你想做的任何事，比如：印在T恤衫上、创建自己的变体形式或把它做成你肚皮上的刺青。
        p We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.
        p 我们的要求是：不要把本网站的其它图片用在其它场合，以免造成混淆。

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular2/angular.svg")
      div
        h3(class="l-space-left-3") FULL COLOR LOGO
        h3(class="l-space-left-3") 全色LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular2/angular.png" download>Download</a>
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular2/angular.png" download>下载</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular2/angular.svg" download>Download</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular2/angular.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") ONE COLOR LOGO
        h3(class="l-space-left-3") 单色LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo Black (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>Download</a>
          li
            span Angular黑色系Logo (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>下载</a>
          li
            span Angular Logo Black (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>Download</a>
          li
            span Angular黑色系Logo (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") ONE COLOR INVERSE LOGO
        h3(class="l-space-left-3") 单色反白LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo White Semi-Transparent (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Download</a>
          li
            span Angular半透明白色Logo (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>下载</a>
          li
            span Angular Logo Semi-Transparent (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Download</a>
          li
            span Angular半透明Logo (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 PRESS AND MEDIA
        h2 出版社与媒体
        p For inquiries regarding press and media please contact us at <a href="mailto:press@angular.io">press@angular.io</a>.
        p 出版社与传媒可通过<a href="mailto:press@angular.io">press@angular.io</a>联系我们。
