div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR LOGO
        p The logo graphics available for download on this page are provided under <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.
        p 本页中列出的Logo图像都可以下载并使用，其授权方式为<a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>。这意味着你可以做几乎所有你想做的任何事，比如：印在T恤衫上、创建自己的变体形式或把它做成你肚皮上的刺青。
        p We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.
        p 我们的要求是：不要把本网站的其它图片用在其它场合，以免造成混淆。

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular/angular.svg")
      div
        h3(class="l-space-left-3") FULL COLOR LOGO
        h3(class="l-space-left-3") 全色LOGO
        ul(class="l-space-left-3")
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular/angular.png" download>下载</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular/angular.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") ONE COLOR LOGO
        h3(class="l-space-left-3") 单色LOGO
        ul(class="l-space-left-3")
          li
            span Angular黑色系Logo (png) - <a href="resources/images/logos/angular/angular_solidBlack.png" download>下载</a>
          li
            span Angular黑色系Logo (svg) - <a href="resources/images/logos/angular/angular_solidBlack.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") ONE COLOR INVERSE LOGO
        h3(class="l-space-left-3") 单色反白LOGO
        ul(class="l-space-left-3")
          li
            span Angular半透明白色Logo (png) - <a href="resources/images/logos/angular/angular_whiteTransparent.png" download>下载</a>
          li
            span Angular半透明Logo (svg) - <a href="resources/images/logos/angular/angular_whiteTransparent.svg" download>下载</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 PRESS AND MEDIA
        h2 出版社与媒体
        p For inquiries regarding press and media please contact us at <a href="mailto:press@angular.io">press@angular.io</a>.
        p 出版社与传媒可通过<a href="mailto:press@angular.io">press@angular.io</a>联系我们。

  style div.bullets ul {list-style-type: disc !important; margin-left: 1em !important;}
  div(class="presskit-row")
    div(class="presskit-inner")
      div.bullets
        h2 BRAND NAMES
        h2 关于品牌名称
        :marked
          ## Angular
          
          The name **Angular** represents the work and promises provided to you by the Angular team.
          
          **Angular**这个名字代表着Angular开发组提供给你的工作成果和未来承诺。

          When not specified, Angular is assumed to be referring to the latest and greatest stable version from the Angular Team.
          
          除非特别说明，否则我们所说的Angular就是专指来自Angular开发组的最新和最稳定的版本。

          ### Example
          
          ### 例子
          
          **Version 4.1 Now Available** - We are pleased to announce that the latest release of Angular is now available. Staying up to date is easy!
          
          **4.1版本发布啦** - 很高兴，我们最新的Angular发布版已经可用了。你可以轻松升级到最新版。

          ### Example
          
          ### 例子
          
          **Correct**
          
          **正确的**
          
          >**New *ngIf Capabilities** - New in version 4.0 is the ability to use additional syntax to create local variables. This can be very helpful in cases such as working with observables …
          
          > **新的*ngIf能力** - 4.0中的一大新特性就是借助额外的语法来创建局部变量。当你使用可观察对象时，这个特性会非常有用。
          
          **Incorrect**
          
          **错误**

          >**New *ngIf Capabilities In Angular 4** - Angular 4 introduces the ability to use additional syntax to create local variables. This can be very helpful in cases such as working with observables …
          
          > **Angular 4中新增的*ngIf能力** - Angular 4.0引入了一个新的特性：借助额外的语法来创建局部变量。当你使用可观察对象时，这个特性会非常有用。
          
          
          **Reasoning**
          
          **理由**
          
          >By not using “Angular 4” in the title, the content still feels applicable and useful after version 5, 6, 7 have been released, as the syntax is unlikely to change in the short and medium term.
          
          >不能在标题中使用"Angular 4"，因为这些内容在将来的5、6、7等版本发布之后仍然是适用且有用的，因为这个语法在短期和中期内不会改变。

          ## AngularJS
          
          **AngularJS** is the 1.x series of work and promises provided by the Angular team. 
          
          **AngularJS**代表Angular开发组所提供的1.x系列的工作成果和未来承诺。

          ### Examples
          
          ### 例子

          1. AngularJS is one of the most used framework on the web today (by number of projects).
          
            AngularJS是现在网上使用量最大的框架（根据项目数量）。
            
          1. Millions of developers are currently building with AngularJS.
          
            几百万开发者现在基于AngularJS构建他们的应用。
            
          1. Developers are beginning to upgrade from AngularJS to Angular.
          
            很多开发者已经在从AngularJS升级到Angular了。
            
          1. I’m upgrading my application from AngularJS to Angular.
          
            我正在把我的应用从AngularJS升级到Angular。
            
          1. I'm using AngularJS Material on this project.
          
            我正在这个项目中使用AngularJS Material。


          AngularJS projects should use the
          <a href="/resources/images/logos/angularjs/AngularJS-Shield.svg" target="_blank" title="AngularJS logo">
          original AngularJS logo</a> / icon, and not the Angular icon.
          
          AngularJS项目应该使用<a href="/resources/images/logos/angularjs/AngularJS-Shield.svg" target="_blank" title="AngularJS logo">
          原始的AngularJS Logo / Icon</a>，而不是Angular的。
          
        figure
          img(src="/resources/images/logos/angularjs/AngularJS-Shield.svg" alt="AngularJS Logo" style="margin-left:20px;" )

        :marked
          ## Angular Material
          
          This is the work being performed by the Angular team to provide Material Design components for Angular applications.
          
          这是由Angular开发组所做的一项工作，旨在为Angular应用提供Material Design风格的组件库。

          ## AngularJS Material

          This is the work being performed by the Angular team on Material Design components that are compatible with AngularJS.
          
          这是由Angular开发组所做的一项工作，旨在提供兼容AngularJS应用的Material Design风格的组件库。

          ## 3rd Party Projects
          
          ## 第三方项目

          **X for Angular**
          
          3rd parties should use the terminology “X for Angular” or “ng-X” for software projects. Projects should avoid the use of Angular X (e.g. Angular UI Toolkit), as it could create authorship confusion. This rule does not apply to events or meetup groups.
          
          第三方开发者应该在软件项目中使用“X for Angular”或“ng-X”等词汇。项目名应该避免使用Angular X的写法（比如不能叫 Angular UI Toolkit），因为这样可能会混淆作者，让人误以为是官方项目。但是，这个规则并不限制你在开发者会议或讨论组的名称中使用Angular。

          Developers should avoid using Angular version numbers in project names, as this will artificially limit their projects by tying them to a point in time of Angular, or will require renaming over time.
          
          开发者应该避免在项目名称中使用Angular的版本号，因为那样会限制他们的项目，让人误以为它只适用于特定版本的Angular，或需要随着时间的推移而不断改名。

          Where a codename or shortname is used, such as on npm or github, some are acceptable, some are not acceptable.
          
          在代码名或简称中（比如npm或github中的名称），有些是可以的，有些不行。

          **Do not use**
          
          ** 不要使用**
          
          - ng2-
          - angular2-

          **OK to use**
          
          **可以使用**
          
          * ng-
          * angular-

          As always, component and directive selectors should not begin with “ng-” selectors as this will conflict with components and directives provided by the Angular team.
          
          一如既往地，组件或指令的选择器不能用`ng-`前缀，因为它会和Angular开发组提供的组件和指令冲突。

          ### Examples
          
          ### 例子

          * The ng-BE team just launched ng-health to help developers track their own health. 
          
            ng-BE 开发组刚刚发布了ng-health软件，以帮助开发者跟他们的健康情况。
            
          * I’m going to use NativeScript for Angular to take advantage of native UI widgets. 
          
            我准备使用NativeScript for Angular来获得原生UI控件的优点。
            
          * ReallyCoolTool for Angular. 
          * ReallyCoolTool for AngularJS. 

  div(class="presskit-row")
    div(class="presskit-inner")
      div.bullets
        h2 TERMS WE USE
        
        h2 我们使用的短语
        
        :marked
          We often use terms that are not part of our brand, 
          but we want to remain consistent on the styling and use of them to prevent confusion and to appear unified.
          
          我们经常使用不在我们品牌下的词汇，但是要在风格和用法上保持一致，以避免混淆，体现统一性。

          * Ahead of Time Compilation (AOT) 
          
            预编译（AOT）
            
          * Just in Time Compilation (JIT)
          
            即时编译（JIT）
