if current.path[1]
  - var language = current.path[1]
if current.path[2]
  - var version = current.path[2].replace(/\_+/gm, ".")
if version && language
  - var styleguide = "/docs/"+language+"/"+ version +"/styleguide.html"
else
  - var styleguide = "/docs/ts/latest/styleguide.html"

.main-footer
  nav.background-silver.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

    .c2
      h3.text-headline 库

      ul.text-body
        li <a href="/"> Angular 2.0</a>
        li <a href="https://angularjs.org/"> Angular 1 for JS</a>
        li <a href="https://material.angularjs.org"> Angular Material</a>
        li <a href="https://www.firebase.com/docs/web/libraries/angular/"> AngularFire</a>

    .c2
      h3.text-headline 学习资源

      ul.text-body
        li <a href="/docs/ts/latest/quickstart.html"> 5分钟快速开始 </a>
        li <a href="/docs/ts/latest/guide/"> 单步指南 </a>
        li <a href="/docs/ts/latest/api/"> 全部API</a>
        li <a href="/docs/ts/latest/resources.html"> 资源 </a>
        li <a href="http://goo.gl/sj0Nk1">设计文档 &amp; 记录</a>

    .c2
      h3.text-headline 帮助

      ul.text-body
        li <a href="https://groups.google.com/forum/#!forum/angular"> Google Group</a>
        li <a href="https://gitter.im/angular/angular"> 聊天室 </a>
        li <a href="https://github.com/angular/angular/issues"> 报告BUG </a>

    .c3
      h3.text-headline 社区

      ul.text-body
        li <a href="https://blog.angularjs.org/">官方博客</a>
        li <a href="https://plus.sandbox.google.com/+AngularJS/posts"> Google+</a>
        li <a href="https://twitter.com/angularjs"> Twitter</a>
        li <a href="https://github.com/angular/angular"> GitHub</a>


  footer(class="background-steel")
    small.text-caption 来自 Google ©2010-2016。 代码许可协议：<a href="/license" class="text-snow">MIT-style License</a>。 文档许可协议：<a class="text-snow" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    a(aria-label="查看风格指南" href=styleguide title="风格指南" class="styleguide-trigger text-snow" md-button)
      span.icon-favorite
