if current.path[1]
  - var language = current.path[1]
if current.path[2]
  - var version = current.path[2].replace(/\_+/gm, ".")
if version && language
  - var styleguide = "/docs/"+language+"/"+ version +"/styleguide.html"
else
  - var styleguide = "/docs/ts/latest/styleguide.html"

div(class="main-footer" data-swiftype-index="false")
  nav.background-midnight.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

    .c2
      h3.text-headline RESOURCES
      h3.text-headline 资源库

      ul.text-body
        // TODO: (ericjim) make a libraries page to showcase all angular libraries
        //li <a href="/libraries.html">Libraries</a>
        li
          p <a href="/about/">About</a>
          p <a href="/about/">关于</a>
        li
          p <a href="/resources/#Education">Books & Training</a>
          p <a href="/resources/#Education">书籍与培训</a>
        li
          p <a href="/resources/">Tools & Libraries</a>
          p <a href="/resources/">工具与库</a>
        li
          p <a href="/resources/">Community</a>
          p <a href="/resources/">社区</a>
        li
          p <a href="/presskit.html">Press Kit</a>
          p <a href="/presskit.html">宣传资料</a>

    .c2
      h3.text-headline HELP
      h3.text-headline 帮助

      ul.text-body
        li <a href="http://stackoverflow.com/questions/tagged/angular2">Stack Overflow</a>
        li <a href="https://gitter.im/angular/angular">Gitter</a>
        li <a href="https://groups.google.com/forum/#!forum/angular"> Google Group</a>
        li
          p <a href="https://github.com/angular/angular/issues"> Report Issues</a>
          p <a href="https://github.com/angular/angular/issues"> 报告问题</a>
        li
          p <a class="footer-feedback" ng-click="appCtrl.openFeedback()" aria-label="Submit feedback on this page"> Site Feedback</a>
          p <a class="footer-feedback" ng-click="appCtrl.openFeedback()" aria-label="Submit feedback on this page"> 网站反馈</a>

    .c2
      h3.text-headline COMMUNITY
      h3.text-headline 社区

      ul.text-body
        li
          p <a href="/events.html">Events</a>
          p <a href="/events.html">会议</a>
        li <a href="http://www.meetup.com/topics/angularjs/">Meetups</a>
        li <a href="https://twitter.com/angular"> Twitter</a>
        li <a href="https://github.com/angular/angular"> GitHub</a>
        li
          p <a href="/contribute.html"> Contribute</a>
          p <a href="/contribute.html"> 做贡献</a>

    .c2
      h3.text-headline LANGUAGES
      h3.text-headline 其它语种

      ul.text-body
        li <a href="https://angular.io/">英文版</a>

  footer(class="background-midnight")
    small.text-caption Powered by Google ©2010-2017。代码授权方式：<a href="/license">MIT-style License</a>。文档授权方式：<a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>。
    a(aria-label="查看风格指南" href="/docs/ts/latest/styleguide.html" title="风格指南" class="styleguide-trigger text-snow translated-cn" md-button)
      span.icon-favorite

    p
      small.text-caption 本网站由洛阳永欣维护 &nbsp;
        a(href="http://www.miitbeian.gov.cn/") 豫ICP备16019859号-1
