header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) 开始吧！

     announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/angular2/angular-logo-banner.png")
        p Angular 2.0正式发布啦！
        a(href="/translate/cn/blog.html" class="button " + "md-button") 了解更多    