header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) 开始吧！

     announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/anglebrackets/anglebrackets.png" width="64")
        p 参加10.25~10.28<strong>拉斯维加斯召开的Anglebrackets大会!</strong>
        a(href="https://anglebrackets.org/#!/" target="_blank" class="button md-button") 立即注册
