header(class="background-sky")
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain"
      md-button) 现在开始！

.banner.is-centered
  .banner-ng-annoucement
    h4 Angular的挑战赛 — 一次48小时的线上黑客马拉松就在2016年5月14~15日。&nbsp;
      a(href="https://www.angularattack.com/" target="_blank") 立即注册
