header(class="background-sky").translated-cn
  .hero.background-superhero-paper.is-large
    h1.text-headline.hero-logo #{title}<br>#{subtitle}

    .hero-cta
      a(href="/docs/ts/latest/quickstart.html" class="md-raised button button-large button-plain" md-button) 开始吧！

    h2. 点击“译文”可显示/隐藏“原文”，点击“原文”可隐藏自身

