header(class="background-sky l-relative")

    .hero.background-superhero-paper.is-large
        img(class="hero-logo" src='/resources/images/logos/angular/angular.svg')
        h1.text-headline #{title}<br>#{subtitle}
        a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) 开始吧！

    announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/resources/images/logos/angular/angular-banner-logo-grey.png" width="64")
        p Angular v4.0 发布啦！更小，更快，改动少
        a(href="/blog/angular-400-now-available.html" target="_blank" class="button md-button") 了解更多
          
