header(class="background-sky l-relative")

  .hero.background-superhero-paper.is-large
    img(class="hero-logo" src='/resources/images/logos/angular2/angular.svg')
    h1.text-headline #{title}<br>#{subtitle}
    a(href="/docs/ts/latest/quickstart.html" class="hero-cta md-raised button button-large button-plain" md-button) 开始吧！

    announcement-bar
      .announcement-bar-slide.clearfix
        img(src="/translate/cn/gdd.svg" width="64")
        p <strong>2016 Google 开发者大会来啦！（北京 & 上海）</strong>
        a(href="http://www.google.cn/intl/zh-CN/events/developerday2016/" target="_blank" class="button md-button") 立即报名

        img(src="/resources/images/logos/anglebrackets/devintersection.png" width="64")
        p 参加<strong>DEVintersection Amsterdam</strong> 11月 14-16号！
        a(href="https://www.devintersectioneurope.com/#!/" target="_blank" class="button md-button") 立即报名
