- var language = current.path[1] || 'ts'
- if (language !== 'ts' || language !== 'js' || language !== 'dart') { language = 'ts'; }

nav(data-swiftype-index="false" class="main-nav l-pinned-top l-layer-5", scroll-y-offset-element)
  h1 <a href="/" md-button>Angular <sup>by Google</sup></a>

  button(class="main-nav-button main-nav-mobile-trigger l-right" aria-label="查看菜单" ng-click="appCtrl.toggleMainMenu($event)" md-button) 网站菜单 <span class="icon icon-arrow-drop-down"></span>

  ul(ng-class="appCtrl.showMainNav ? 'is-visible' : ''")
    li.l-left <a class="main-nav-button" href="/features.html" md-button>特性</a>
    li.l-left <a class="main-nav-button" href="/docs/#{language}/latest/" md-button>文档</a>
    li.l-left <a class="main-nav-button" href="/events.html" md-button>会议</a>
    li.l-left
      a.main-nav-button(href="http://community.angular.cn/" target="_blank" md-button)
        | 社区
    li.l-left <a class="main-nav-button" href="/translate/cn/home.html" md-button>关于中文版</a>
    li.l-right <a class="main-nav-button" href="/docs/ts/latest/quickstart.html" md-button>立即开始！</a>
    li.l-right
      a.main-nav-button.md-button.ng-cloak(ng-click="appCtrl.toggleSource($event)", href)
        span {{appCtrl.sourceVisible?'Hide English':'Show English'}}
