<!-- VENDORS -->
script(src="/resources/js/vendor/prettify.js")
script(src="/resources/js/vendor/lang-basic.js")
script(src="/resources/js/vendor/lang-dart.js")
script(src="/resources/js/vendor/lodash.js")
script(src="/resources/js/vendor/clipboard.min.js")


<!-- Angular Material Dependencies -->
script(src="/resources/js/vendor/angular.min.js")
script(src="/resources/js/vendor/angular-animate.min.js")
script(src="/resources/js/vendor/angular-aria.min.js")
script(src="/resources/js/vendor/angular-material.min.js")

<!-- Firebase -->
<script src="/resources/js/vendor/firebase.js"></script>

<!-- AngularFire -->
<script src="/resources/js/vendor/angularfire.min.js"></script>


<!-- Angular.io Site JS -->
script(src="/translate/cn/translate.js")
script(src="/resources/js/site.js")
script(src="/resources/js/util.js")
script(src="/resources/js/controllers/app-controller.js")
script(src="/resources/js/controllers/resources-controller.js")
script(src="/resources/js/directives/cheatsheet.js")
script(src="/resources/js/directives/api-list.js")
script(src="/resources/js/directives/bio.js")
script(src="/resources/js/directives/bold.js")
script(src="/resources/js/directives/announcement-bar.js")
script(src="/resources/js/directives/code.js")
script(src="/resources/js/directives/copy.js")
script(src="/resources/js/directives/code-tabs.js")
script(src="/resources/js/directives/code-pane.js")
script(src="/resources/js/directives/code-example.js")
script(src="/resources/js/directives/if-docs.js")
script(src="/resources/js/directives/live-example.js")
script(src="/resources/js/directives/scroll-y-offset-element.js")
