- var lang = current.path[1]
- var vers = current.path[2]

.clearfix
  a.card.c4(href="/docs/ts/latest/quickstart.html")
    h2.text-headline.text-uppercase Quickstart
    h2.text-headline.text-uppercase 快速起步
    p A short beginner guide explaining the basic concepts of Angular
    p 一个简短的初学者指南，用以解释 Angular 的基本概念

    footer 
      p View Quickstart
      p 查看“快速起步”

  a.card.c4(href="/docs/ts/latest/guide/")
    h2.text-headline.text-uppercase Developer Guide
    h2.text-headline.text-uppercase 开发指南
    p An intermediate development guide covering all major features of Angular
    p 一个面向中级开发者的指南，覆盖了 Angular 的所有主要特性

    footer 
      p View Guide
      p 查看开发指南

  a.card.c4(href="/docs/ts/latest/api/")
    h2.text-headline.text-uppercase API Reference
    h2.text-headline.text-uppercase API 参考手册
    p An advanced reference of all Angular Classes, Methods, etc.
    p 一个高级的参考手册，包括所有的 Angular 类、方法等。

    footer 
      p View API
      p 查看 API 参考手册

.c4.secondary-content-list
  h4 Advanced Documentation
  h4 高级文档
  ul
    li
      a(href="/docs/ts/latest/guide/animations.html") Animations
      a(href="/docs/ts/latest/guide/animations.html") 动画
    li
      a(href="/docs/ts/latest/guide/attribute-directives.html") Attribute Directives
      a(href="/docs/ts/latest/guide/attribute-directives.html") 属性型指令
    li
      a(href="/docs/ts/latest/guide/browser-support.html") Browser Support
      a(href="/docs/ts/latest/guide/browser-support.html") 浏览器支持
    li
      a(href="/docs/ts/latest/guide/component-styles.html") Component Styles
      a(href="/docs/ts/latest/guide/component-styles.html") 组件样式
    li
      a(href="/docs/ts/latest/guide/deployment.html") Deployment
      a(href="/docs/ts/latest/guide/deployment.html") 部署
    li
      a(href="/docs/ts/latest/guide/animations.html") View All...
      a(href="/docs/ts/latest/guide/animations.html") 查看全部……

.c4.secondary-content-list
  h4 Cookbook
  h4 烹饪宝典
  ul
    li
      a(href="/docs/ts/latest/cookbook/aot-compiler.html") Ahead-of-time Compilation
      a(href="/docs/ts/latest/cookbook/aot-compiler.html") 预编译
    li
      a(href="/docs/ts/latest/cookbook/ajs-quick-reference.html") AngularJS to Angular
      a(href="/docs/ts/latest/cookbook/ajs-quick-reference.html") 从 AngularJS 到 Angular
    li
      a(href="/docs/ts/latest/cookbook/component-communication.html") Component Interaction
      a(href="/docs/ts/latest/cookbook/component-communication.html") 组件交互
    li
      a(href="/docs/ts/latest/cookbook/dependency-injection.html") Dependency Injection
      a(href="/docs/ts/latest/cookbook/dependency-injection.html") 依赖注入
    li
      a(href="/docs/ts/latest/cookbook/") View All...
      a(href="/docs/ts/latest/cookbook/") 查看全部…

.c4.secondary-content-list
  h4 Tools & Libraries
  h4 工具与库
  ul
    li
      a(target="_blank" href="https://github.com/angular/universal") Angular Universal
    li
      a(target="_blank" href="https://augury.angular.io/") Augury
    li
      a(target="_blank" href="https://github.com/jaxio/celerio-angular-quickstart") Celerio Angular Quickstart
      a(target="_blank" href="https://github.com/jaxio/celerio-angular-quickstart") Celerio Angular 快速起步
    li
      a(target="_blank" href="https://github.com/mgechev/codelyzer") Codelyzer
    li
      a(target="_blank" href="https://github.com/johnpapa/lite-server") Lite-server
    li
      a(target="_blank" href="/resources/") View All...
      a(target="_blank" href="/resources/") 查看全部……
