// TODO: don't duplicate text that's in /docs/dart/latest/resources.jade
.l-main-section
  h2 Victor Savkin's Blog Posts
  h2 Victor Savkin'的博客
  ul
    li: a(href="http://victorsavkin.com/post/137821436516/managing-state-in-angular-2-applications") Managing State in Angular Applications
    li: a(href="http://victorsavkin.com/post/137821436516/managing-state-in-angular-2-applications") 在Angular应用中管理状态
    li <a href="http://victorsavkin.com/post/114168430846/two-phases-of-angular-2-applications">Two Phases of Angular Applications</a>
    li <a href="http://victorsavkin.com/post/114168430846/two-phases-of-angular-2-applications">Angular应用的两个阶段</a>
    li <a href="http://angularjs.blogspot.com/2015/03/forms-in-angular-2.html">Forms in Angular</a>
    li <a href="http://angularjs.blogspot.com/2015/03/forms-in-angular-2.html">Angular中的表单</a>
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Change detection</a>
    li <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">变更检查机制</a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">Functional programming </a>
    li <a href="http://victorsavkin.com/post/108837493941/better-support-for-functional-programming-in">函数式编程 </a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">Dependency injection</a>
    li <a href="http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection">依赖注入</a>

.l-main-section
  h2 <span class="icon-play-circle-outline"></span> Videos
  h2 <span class="icon-play-circle-outline"></span> 视频

  h4 Intro Videos
  h4 简介类视频
  ul
    li <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">Building a Todo App</a> by David East
    li <a href="https://www.youtube.com/watch?v=uD6Okha_Yj0">建立“Todo”范例应用</a> 作者 David East
    li <a href="https://www.youtube.com/watch?v=4C4bmDOV5hk">Angular Forms</a> by David East
    li <a href="https://www.youtube.com/watch?v=4C4bmDOV5hk">Angular 表单</a> 作者 David East

  h4 ng-conf
  h4 ng-conf大会视频
  ul
    li Playlist <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&index=1&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">of ng-conf 2015 videos</a>.
    li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&index=1&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">ng-conf 2015 视频列表</a>.
    li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Day 1 Keynote</a>: a broad overview of Angular, migration, and where we are headed.
    li <a href="https://www.youtube.com/watch?v=QHulaj5ZxbI&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">第一天讲稿</a>: Angular概览、移植、发展方向
    li <a href="https://www.youtube.com/watch?v=-dMBcqwvYA0&index=21&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Day 2 Keynote</a>: Misko and Rado do a deep-dive on Angular details.
    li <a href="https://www.youtube.com/watch?v=-dMBcqwvYA0&index=21&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">第二天讲稿</a>: Misko 和 Rado 深度剖析 Angular 实现细节.
    li <a href="https://www.youtube.com/watch?v=AbunztfV5vU&index=6&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Creating Container Components with Web Components in Angular</a>: Kara Erickson &amp; Rachael L Moore.
    li <a href="https://www.youtube.com/watch?v=AbunztfV5vU&index=6&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">用Angular2的Web Components创建容器型组件</a>: Kara Erickson &amp; Rachael L Moore.
    li <a href="https://www.youtube.com/watch?v=jvKGQSFQf10&index=31&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">Change Detection Reinvented</a>: Why Angular change detection is fast out of the box and options for developers to make it even faster.
    li <a href="https://www.youtube.com/watch?v=jvKGQSFQf10&index=31&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7">变更检查机制的改造</a>: 为什么Angular的变更检查天生更快？开发人员如何设置会让它更快？

  h4 ng-europe
  h4 ng-europe欧洲大会视频
  ul
    li Oct 2014 <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">playlist of ng-europe videos on Angular</a> and the future of Angular.
    li 2014年10月 <a href="https://www.youtube.com/watch?v=lGdnh8QSPPk&list=PLhc_bKwZngxW_ZlY0NkaGkvKpiA_pzcZ-">ng-europe的Angular视频列表</a> 以及Angular的未来。


.l-main-section
  h2 <span class="icon-content-copy"></span> API Design Docs &amp; Notes
  h2 <span class="icon-content-copy"></span> API设计文档 &amp; 说明
  ul
    li <a href="https://drive.google.com/open?id=0B7GYXx6a6d8QR3lTT1J3MEpRSlE&authuser=0">Best Practices</a>
    li <a href="https://drive.google.com/open?id=0B7GYXx6a6d8QR3lTT1J3MEpRSlE&authuser=0">最佳实践</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacUnUxc3l5aTZrbVk&authuser=0">API Design Docs</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacUnUxc3l5aTZrbVk&authuser=0">API设计文档</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacMEZDc2NtWS1VZ1k&authuser=0">Meeting Notes</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbacMEZDc2NtWS1VZ1k&authuser=0">会议记录</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbaceGc2dlhGQnMzYXc&authuser=0">Presentations</a>
    li <a href="https://drive.google.com/open?id=0BxgtL8yFJbaceGc2dlhGQnMzYXc&authuser=0">报告</a>
    li <a href="http://goo.gl/sj0Nk1">More...</a>
    li <a href="http://goo.gl/sj0Nk1">更多...</a>
