.original-english {
  display: none !important;
}

.original-english-debug {
  border-bottom: 1px dashed red;
}

.translated-cn {
  em {
    font-style: normal;
  }
}

td, th {
  > p:last-child {
    margin-bottom: 0;
  }
}
