.original-english {
  border-top: 1px dashed $regal;
  &.hidden {
    display: none !important;
  }
}

td, th {
  > p:last-child {
    margin-bottom: 0;
  }
}

.translated-cn {
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.about-cn-translation {
  font-size: 16px;
  h2 {
    border-bottom: 1px solid $silver;
  }
}

body, .main-nav .main-nav-button {
  font-family: "Helvetica Neue", Arial, STHeiti, "Microsoft YaHei", sans-serif, Helvetica, "DroidSansFallback", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3" !important;
}
