include ../_util-fns

:marked
  We’ll need an Angular application to test, one as simple as possible while having most of the angular features we want to test.
  
  我们将需要一个Angular应用程序来测试，一个尽量简单，但几乎拥有所有我们想要测试angular特性的应用程序。
  What better app than our own [The Tour of Heroes](../tutorial/toh-pt5.html)? We're already quite familiar with it and it fits our criteria, so let's try to test what we've done there.
  
  什么应用程序比我们自己的[英雄指南](../tutorial/toh-pt5.html)更合适?我们已经很熟悉它了，它也适合我们的需求，所以让我们来测试一下我们已经完成了的功能。
  
  We might end up modifying it a bit, because it doesn't have everything we want to test, but it's the perfect starting point.
  
  我们可能需要对它做一些修改，因为它没有所有我们想要测试的需求，但是这是一个完美的起点。
  
  Create a copy of the Tour of Heroes app so that we can fiddle without fear.
  
  复制一个英雄指南应用程序，这样我们可以肆无忌惮的摆弄它。
