:marked
  ## 关于中文版
  这是一份跟官方网站保持 **同步更新** 的中文版。虽然保持同步非常耗费精力，不过为了防止过时的内容误导读者，这份额外的付出还是很值得的。
  我们全文采用意译的方式，在彻底理解作者意思的前提下用中文重新表述，力求做到“信雅达”。
  
  当然，即便如此，我们会错意的可能性也还是有的，所以我们的译稿都提供了中英文对照，如果你对某些含义有疑问，可以看一下对应的英文版内容。
  
  本文档目前只完成了部分章节的初译，尚未完成审校和统稿，因此语言风格和表达上可能还有问题，欢迎到我们的[github](https://github.com/angular-live/angular.io)上提出issue。
  
  本文档的任何更新都会实时发布于我们的 [首发网站](http://www.angular.live) 。如果你要进行转载，请自行同步，或者在想要同步到最新版时 [联系我们](mailto:traveller@163.com) 。
  ## 授权方式
  本文档遵循“保持署名—非商用”创意共享4.0许可证（CC BY-NC 4.0）授权方式，你不用知会我们就可以任意转载，但必须保持署名（特别是：不得去掉本页入口链接，也不得修改本页内容），并且不得用于商业目的。
  ## 关于译者
  本文档有两位译者，他们是多年的好友。这次利用业余时间联手翻译，就是因为看好Angular 2的前景，希望帮助大家在这项技术上能跟国外同步前进。
  ### 汪志成（雪狼）
  《AngularJS深度剖析与最佳实践》的作者之一，ThoughtWorks高级咨询师。他从1998年开始做商业软件开发，拥有超过18年的从业经验，至今仍热衷于编程。
  
  虽然一直在做编程工作，不过他最热衷的却是国学，特别是儒学与诗词。孟子曰：“得天下英才而教育之，三乐也”，力求践行之。
  
  小道消息：他当年英语四级都没考过哦，现在却可以直接读各种英文资料了。所以，不要怕，英语不是老虎，我行你也行。
  ### 叶志敏
  早期翻译软件《东方快车》的产品经理，至今已在英国留学和生活了十年。有多年在英国养老院工作的经历，他正在用Angular 2与.net开发一个养老院管理系统。
  
  ## 支持我们
  由于我们对翻译质量的极端要求，所以很抱歉，我们暂时无法接受新人一同翻译，否则我们需要花费大量精力去review。
  
  但你可以精神上支持我们：在Github上给我们Star、提供反馈、纠错、帮我们宣传等等。
  
  当然如果觉得翻译质量高到狠狠点赞都不够，也可以在物质上支持我们，比如：通过微信支付资助我们 ^_^ ：
  
  ![微信支付](./wechat.jpg)
  
  金额上请随意，比如你的一顿早餐钱 —— 什么？你不吃早餐？那从现在就开始吧，不然该怎么资助我们？作为程序员，最重要的是身体、身体、身体，重要的事情说三遍，这是一个18年老程序员的忠告。
  
