.about-cn-translation
  :marked
    ## 关于译者
    本文档的两位译者汪志成和叶志敏是多年的好友。这次利用业余时间联手翻译，就是因为看好 Angular 的前景，希望帮助大家在这项技术上能跟国外同步前进。

    ### 汪志成（雪狼）
    《AngularJS深度剖析与最佳实践》的作者之一，ThoughtWorks 高级咨询师，现任 GDE（ Google 开发者专家）。崇尚“简单、专业、分享”。他从1998年开始做商业软件开发，拥有超过18年的从业经验，至今仍热衷于编程。

    虽然一直在做编程工作，不过他最热衷的却是国学，特别是儒学与诗词。孟子曰：“得天下英才而教育之，三乐也”，愿践行之。

    小道消息：他当年英语四级都没考过哦，现在却可以直接读各种英文资料了。所以，不要怕，英文不是老虎，我行你也行。

    ### 叶志敏
    早期翻译软件《东方快车》的产品经理，至今已在英国留学和生活了十年。目前他正在用 Angular 与 .net core 开发一套针对英国医疗保健服务行业的 ERP 系统。

    ### 杨林
    北京师范大学珠海分校教师，博士，研究方向是软件工程、信息管理系统。喜爱编程，有近20年的软件开发经验。目前正在使用
    Angular 和 Grails 开发高校[教务管理系统](http://www.github.com/jwgl)。

    ## 感恩

    本中文网站能够达到现在的质量，首先要感谢 Google 公司 Angular 产品开发部门的项目经理 Naomi Black 的鼎力支持。她不但邀请我们加入了 Angular 项目组，还让我们与各位文档作者之间建立了直接的沟通渠道。这种沟通渠道非常宝贵，让我们得以准确理解所涉及到的各个技术细节，并减轻了保持同步更新时的额外工作量。

    本网站能够及时推出，要感谢 Google 开发技术推广部大中华区的负责人栾跃、以及负责和我们进行项目协调沟通的 Google 开发技术推广部中国团队的项目经理程路。他们的专业性和高效率让我们得以心无旁骛的完成翻译工作。也是在他们的大力帮助下，本网站才能最终作为官方中文版推出。

    最后，要特别感谢我们各自的家人。同步、高质量的翻译是个耗时耗力的工作，如果没有她们的支持，此工作将无法完成。

    ## 支持我们

    由于我们对翻译质量的极端要求，所以很抱歉，我们暂时无法接受新人加入翻译，否则我们需要花费大量精力进行 review 。

    但你可以在精神上支持我们，比如：

    - 在 Github 上 <iframe src="./github-btn.html?user=angular&amp;repo=angular-cn&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30""></iframe>我们 或 <iframe src="./github-btn.html?user=angular&amp;repo=angular-cn&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30""></iframe> 我们
    - 提供[反馈、纠错](https://github.com/angular/angular-cn/issues)
    - 帮我们宣传
    - 等等

    ## 鸣谢

    在翻译和校对过程中，我们得到了很多人的帮助，在此一并致谢，他/她们是：

    - Joeylin (来自 Angular 中文社区)
    - 张旋 (来自 Angular 中文社区)
    - Hantsy (来自 Github )
    - iloveyo123u1 (来自 Github )
    - 123（来自 Angular 中文社区）
    - keyiis（来自 Github ）
    - wudingli（来自 Github ）
    - dreamapplehappy（来自 Github ）
    - bang88（来自 Github ）
    - gogobook（来自 Github ）
    - pshadow（来自 Github ）
    - Hongbo-Miao（来自 Github ）
    - Kinogam（来自 Angular 中文社区）
    - dreamapplehappy（来自 Github ）
    - cunshuifengyun（来自 Github ）
    - 机器人（来自 Angular 中文社区）
    - edtim8（来自 Github ）
    - kapr1k0rn（来自 Github ）
    - Lion6868（来自 Github ）
    - 阿泽（来自 Angular 中文社区）
    - Aruis（来自 Github ）
    - Elderry（来自 Github ）
    - smilesun（来自 Angular 中文社区）
    - xlf531533465（来自 Github ）
    - vaanxy（来自 Github ）
    - 贵池（来自 Angular 中文社区）
    - zhibinr（来自 Github ）
    - jin-xinchen（来自 Github ）
    - 另外还有一些做好事不留名的活雷锋

    想让你的名字也出现在这里吗？请提供[反馈、纠错](https://github.com/angular/angular-cn/issues)。

    ## 我们的友军

    此官网是由我和叶志敏为主翻译的，并得到了鸣谢清单中各位网友的帮助，但这只是 Angular 中文社区的冰山一角。

    完整的 Angular 中文社区浩如烟海，此处仅仅列举笔者所接触、合作过的一些重要人物：

    - **严清**

      AngularJS 中文社区的早期耕耘者，也是 AngularJS 1.x 的早期传道者之一。虽然他已经不再使用 AngularJS 技术栈，但其对社区的贡献和影响力不应忘记。
      
    - **格茸扎西（破狼）**

      AngularJS 中文社区系列 QQ 群的群主，从严清手里接下 QQ 群并长期维护。他还与译者之一的汪志成（雪狼）合著过一本书《 AngularJS 深度剖析与最佳实践》，这本书的成功让我们看到了中文社区对 Angular 的热情支持，最终激发了我们翻译 Angular 官网的行动。我们还共同开始了对国外新书 ng-book2 的翻译工作。

    - **汤桂川**

      广发证券的资深工程师，Angular 热情的布道者，Angular 的早期使用者之一，他的团队还翻译过早期版本的开发指南。虽然交流不多，不过可以感觉到他是个很 Nice 的人，也带领着一个很有活力的团队。

