.about-cn-translation
  :marked
    ## 关于中文版
    这是一份跟官方网站保持 **同步更新** 的中文版。虽然保持同步非常耗费精力，不过为了防止过时的内容误导读者，这份额外的付出还是很值得的。
    
    我们全文采用意译的方式，在确保理解作者意思的前提下用中文重新表述，力求做到“信雅达”，当原文难以直译时更是如此。在必要时，我们会加“译注”来辅助读者阅读。
    当然，即便如此，我们会错意的可能性也还是有的，所以我们的译稿都提供了中英文对照，如果你对某些语句有疑问，只要点一下，就可以显示对应的英文版内容，可自行对照理解。
    
    对于英文词汇，我们尽量采用业内成熟的译法，以利于口头交流。对少部分在Angular之外比较罕见的专有名词，我们会在译文中写成中英双语。
    不过这部分还没有经过系统的梳理，如果你发现哪里有问题，请给我们提issue或Pull Request。
    
    同时，要注意：我们只翻译“TypeScript”版的文档，其它语言的版本大同小异，可以在看懂TS版之后再对照看JS和Dart的英文版。不过我们还是建议你试用一下TypeScript。
    
    本文档目前只完成了部分章节的初译，尚未完成审校和统稿，因此语言风格和表达等可能还有问题，欢迎到我们的<a href="https://github.com/angular/angular-cn" target="_blank">github</a>上提出issue或Pull Request。
    
    本文档的任何更新都会实时发布于我们的 [首发网站](http://www.angular.live) 。如果你要进行转载，请自行同步（不过小心别DDoS了我们），或者在想要同步到最新版时 [联系我们](mailto:traveller@163.com) 。
    ## 授权方式
    本文档遵循[“保持署名—非商用”创意共享4.0许可证（CC BY-NC 4.0）](http://creativecommons.org/licenses/by-nc/4.0/deed.zh)授权方式，你不用知会我们就可以任意转载，但必须保持署名（特别是：不得去掉本页入口链接，也不得修改本页内容），并且不得用于商业目的。
    
    ## 关于译者
    本文档有两位译者，他们是多年的好友。这次利用业余时间联手翻译，就是因为看好Angular 2的前景，希望帮助大家在这项技术上能跟国外同步前进。
    
    ### 汪志成（雪狼）
    《AngularJS深度剖析与最佳实践》的作者之一，ThoughtWorks高级咨询师。他从1998年开始做商业软件开发，拥有超过18年的从业经验，至今仍热衷于编程。
    
    虽然一直在做编程工作，不过他最热衷的却是国学，特别是儒学与诗词。孟子曰：“得天下英才而教育之，三乐也”，愿践行之。
    
    小道消息：他当年英语四级都没考过哦，现在却可以直接读各种英文资料了。所以，不要怕，英文不是老虎，我行你也行。
    
    ### 叶志敏
    早期翻译软件《东方快车》的产品经理，至今已在英国留学和生活了十年。目前他正在用Angular 2与.net core开发一套针对英国医疗保健服务行业的ERP系统。
    
    ## 当前状态
    目前：
    - 除“API参考手册”之外的全部章节都已经完成了翻译和第一遍校对，目前正在进行第二遍校对和内部评审。预计很快可以开始正式推出。
    - “API参考手册”尚未开始翻译。同时，由于技术限制，它也不像其它文档那么容易翻译，谁有什么好想法可以提出来。
    - 由于技术限制，“API小抄”尚无法进行同步翻译，目前取的是rc.1版
    - 官方仍在不断更新英文文档。我们通常会在一天内同步完毕；如果出现大量修改时，我们会争取在一周内同步完毕。
    
    ## 支持我们
    由于我们对翻译质量的极端要求，所以很抱歉，我们暂时无法接受新人加入翻译，否则我们需要花费大量精力进行review。
    
    但你可以在精神上支持我们，比如：
    
    - 在Github上 <iframe src="./github-btn.html?user=angular&amp;repo=angular-cn&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30""></iframe>我们 或 <iframe src="./github-btn.html?user=angular&amp;repo=angular-cn&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30""></iframe> 我们
    - 提供[反馈、纠错](https://github.com/angular/angular-cn/issues)
    - 帮我们宣传
    - 等等

    ## 鸣谢
        
    在翻译和校对过程中，我们得到了很多人的帮助，在此一并致谢，他/她们是：
        
    - Joeylin (来自Angular中文社区)
    - 张旋 (来自Angular中文社区)
    - Hantsy (来自Github)
    - iloveyo123u1 (来自Github)
    - 另外还有一些做好事不留名的活雷锋
        
    想让你的名字也出现在这里吗？请提供[反馈、纠错](https://github.com/angular/angular-cn/issues)。
