.about-cn-translation
  :marked
    ## 官方论坛
    
    - [bbs.angular.cn](https://bbs.angular.cn) 
    
      本论坛正在建设中，稍显简陋，我们明年会发布一个更好的版本并开源。
    
    ## 官方微信
    
    - （敬请期待）
    
    ## 友军：QQ群
      
    - 278252889（AngularJS中文社区，2000人已满）
    - 305739270（AngularJS中文社区二群，2000人）
    - 200242234（Angular互助组）
    - 110455272（Ionic开发实践）
    
    ## 友军：微信号
    
    - shuang_lang_shuo（由破狼等人维护）
    - ThoughtWorks（思特沃克软件技术有限公司）
