.about-cn-translation
  :marked
    ## 官方论坛
    
    - **[wx.angular.cn](https://wx.angular.cn)** 本论坛正在建设中，我们明年会发布一个更好的版本并开源。
    
    ## 官方微信
    
    ![官方微信](./wechat.jpg)
    
    ## 友军：QQ群
      
    - 278252889（ Nice Angular社区，2000人已满）
    - 305739270（ Nice Angular社区二群，2000人）
    - 207542263（ Nice Angular社区三群，1000人）
    - 200242234（ Angular 互助组，500人）
    - 110455272（ Ionic 开发实践，500人）
    
    ## 友军：微信公众号
    
    - shuang_lang_shuo（由破狼、雪狼等人维护）
    - ThoughtWorks（思特沃克软件技术有限公司）
