include ../_util-fns

:marked
  The *Cookbook* offers answers to common implementation questions.
  
  这本*“烹饪宝典”*提供了在实施中一些常见问题的答案。
  
  Each cookbook page is a collection of recipes focused on a particular Angular feature or application challenge
  such as data binding, cross-component interaction, and communicating with a remote server via HTTP.
  
  每个“烹饪宝典”章节都是一套“菜谱”，每套菜谱都聚焦于一个特定的Angular特性或者来自应用方面的挑战，比如数据绑定、跨组件通讯和通过HTTP与远程服务器交互等。
  
.l-sub-section
  :marked
    The cookbook is just getting started. Many more recipes are on the way.

    这本烹饪宝典只是一个开始。我们正在编写更多“菜谱”。

:marked
  Each cookbook  links to a live sample with every recipe included.
  
  “烹饪宝典”中的每个章节都链接了一个在线例子，包含“菜谱”的完整代码。
  
  Recipes are deliberately brief and code-centric. 
  Each recipe links to a relevant page of the [Developer Guide](../guide) or the 
  [API Reference](../api)where you can learn more about the purpose, context, and design choices behind the code snippets.
  
  我们有意保持着“菜谱”的简洁，并坚持以代码为中心。
  每个“菜谱”都与[开发者指南](../guide)或[API参考手册](../api)里面的某个章节相关联。
  在这些相关章节里，你可以学到更多关于代码片段背后的目的、上下文和设计选择等深层知识。
  
  ## Feedback
  
  ## 反馈

  Post *documentation* requests and comments as
  <a href="https://github.com/angular/angular.io/issues" target="_blank" title="Documentation issues on github">
  <i>issues</i> on the angular.io</a> github repository.
  Fixes (small ones) are greatly appreciated as
  <a href="https://github.com/angular/angular.io/pulls" target="_blank" title="Documentation PRs on github">
  <i>pull requests</i></a>.
  
  请把对*文档*的建议和意见贴到<a href="https://github.com/angular/angular.io/issues" target="_blank" title="github上的文档问题">
    angular.io的github <i>issues</i></a>。
    也非常欢迎把小的修改提交为<a href="https://github.com/angular/angular.io/pulls" target="_blank" title="Documentation PRs on github">
      <i>pull requests</i></a>。

  Post issues with *Angular itself* to the [angular](https://github.com/angular/angular) github repository.

  到[Angular仓库](https://github.com/angular/angular)提交*Angular本身*的问题。
