include ../_util-fns 

// #docregion cookbook
:marked
  # Angular 2 Cookbook
  # Angular 2 烹饪书
  The *Cookbook* offers answers to common implementation questions.
  
  这个*“烹饪书”*提供常见应用问题的答案。
  
  Each cookbook chapter is a collection of recipes focused on a particular Angular 2 feature or application challenge
  such as data binding, cross-component interaction, and communicating with a remote server via HTTP.
  
  每个“烹饪书”章节都是一套“食谱”，它们都是针对一个特定的Angular 2特征或者应用挑战，比如数据绑定、跨越组件交互和通过HTTP来与远程服务器交互等。
  
.l-sub-section
  :marked
    The cookbook is just getting started. Many more recipes are on the way.
    
    本烹饪书只是一个开始。更多“食谱”正在编写中。
:marked
  Each cookbook chapter links to a live sample with every recipe included.
  
  每个“烹饪书”章节都链接了一个在线例子，它包含了每个“食谱”。
  Recipes are deliberately brief and code-centric. 
  
  “食谱”都是有意的简略和以代码为中心。
  Each recipe links to a chapter of the Developer Guide or the API Guide
  
  每个“食谱”都与开发者指南或者API指南里面的一章相关联。
  where you can learn more about the purpose, context, and design choices behind the code snippets.
  
  （在这些关联章节里）你可以学到更多关于代码片段后面目的、前后关系和设计选择等。
  
  ## Feedback
    
  The cookbook is a perpetual *work-in-progress*. 
  
  这个“烹饪书”是一个持续的*正在进行中*的工作。
  
  We welcome feedback! Leave a comment by clicking the icon in upper right corner of the banner.
  
  我们欢迎你的反馈！点击横幅右上角下面的图标来留言。
  
  Post *documentation* issues and pull requests on the 
  [angular.io](https://github.com/angular/angular.io) github repository.
  
  在[angular.io](https://github.com/angular/angular.io) github仓库提交*文档*议题和Pull requests。
  
  Post issues with *Angular 2 itself* to the [angular](https://github.com/angular/angular) github repository.
  在[angular](https://github.com/angular/angular)提交*Angular 2 自己*的议题。
// #enddocregion cookbook
