- var language = current.path[1]
- var lang = '你选中的语言'

if language == 'dart'
  - lang = 'Dart'
if language == 'js'
  - lang = 'JavaScript'
if language == 'ts'
  - lang = 'TypeScript'

- var page = current.path[4] ? current.path[4] + '.html' : ''
- if (page === 'index.html') page = ''
- var path = '/docs/ts/latest/'+ current.path[3] + '/' + page
:marked
  这个章节在 #{lang} 语种下还不可用。
  建议您阅读TypeScript版本。
